body,html{
	height: 100%;
	margin:0;
	font-size: 16px;
	font-family: arial;
	font-weight: 400;
	line-height: 1.8em;
	color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4{
	position: relative;
	opacity: 0.7;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img{
	max-width: 100%;
	height: auto;
}

.pimg1{
	background-image: url('../images/image1.jpeg');
	min-height: 100%;											
}
.pimg2{
	background-image: url('../images/image2.jpeg');
	min-height: 400px;
}
.pimg3{
	background-image: url('../images/image3.jpeg');
	min-height: 400px;
}
.pimg4{
	background-image: url('../images/about.jpg');
	min-height: 100%;											
}


.section{
	text-align: center;
	padding:50px 80px;
}

.section-light{
	background-color:#f4f4f4;
  	color:#666;

}
.section-dark{
	background-color:#282e34;
  	color:#ddd;
}

.ptext{
	position: absolute;
	top:50%;
	width: 100%;
	text-align: center;
	color:#000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;

}


.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}
.logo{
	float:  left;
	padding-left: 10px;	
}
.header{
	background-color: black;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 100%;
	text-align: right;

}

.header a{
	text-decoration: none;
	color:#fff;
	font-size: 27px;
	margin:0px 20px;

}


.header a:hover{
	color:#e5125f;
}

#scrollbutton{
	position: fixed;
	bottom: 50px;
	right:50px;
}

.mproject{
	background-image: url('../images/music_projects.jpeg');
	height: 250px;
	margin:10px;
	opacity: 0.7;
}
.aproject{
	background-image: url('../images/art_projects.jpeg');
	height: 250px;
	margin:10px;
	opacity: .7;
}
.projtext{
	top:50%;
	position: relative;
	text-align: center;
	color:#000;
	font-size: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;

}
.projtext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
  text-decoration: none;
}

.artgallery{
	margin: 40px 20px 30px 20px;
}

.thumbnails{
	margin-right: -15px;
}

.thumbnails a{
	float: left;
	width:25%;
	padding-right: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

.thumbnails img{
	display: block;
	transition: all .2s ease-in-out;
}

.thumbnails:hover img{
	opacity: .6;
	transform: scale(.92);

}

.thumbnails img:hover{
	opacity: 1;
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0,0,0,.5);
}

.blackbtn{
	background-color: #4c4b4b;
	color: #fff;

}

.blackbtn:hover{
	background-color: #4c4b4b;
	color: #e5125f;
}
.social{
	text-align: center;
	margin-top: 20px;
}
.social a{
  background-color:#4c4b4b;
  color:#fff;
  padding:10px;
  font-size: 27px;


}
.social a:hover{
	text-decoration: none;
	color: #e5125f;
}

.footer{
	background-color: #4c4b4b;
	color: #fff;
	text-align: center;
	padding: 10px;
	clear: both;
}
.imgtesti{
	widows: 200px;
	height: 200px;
	border-radius: 50px;
}
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}